<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        {{>header}}
        <img src="/img/tony-cartoon.gif">

        {{>footer}}
    </body>
</html>