<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <h1>Welcome to Help Page</h1>
        <p>{{helpText}}</p>
    </body>
</html>